<!DOCTYPE html>
<html>
    <head>
        <title>Precedence</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/layout.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/design.css') }}">

    </head>
    <body>
        <div class="page">
            <div class="menu large-container">
                <h1>Menu side</h1>
                <form action="{{url_for('frontend.make_task')}}" method="post">
                    <p>Name: <input type="text" name="name"/></p>
                    <p>scope: <input type="text" name="scope"/></p>
                    <p>status: <input type="text" name="scope"/></p>
                    <p>start_date: <input type="datetime-local" name="start_date"/></p>
                    <p>due_date: <input type="datetime-local" name="due_date"/></p>

                    <p><input type="submit" name="submit"/></p>
                </form>
            </div>

            <div class="task-list large-container">
                <h1>Task List</h1>
                <div class="task-container">
                    <div class="task">
                        <p class="task-name">ExampleText</p>
                        <div class="proj"><h6 class="proj-text">ProjHere</h6></div>
                        <p class="urgency">5.5</p>
                    </div>
                    <div class="task">
                        <p class="task-name">ExampleText</p>
                        <div class="proj"><h6 class="proj-text">ProjHere</h6></div>
                        <p class="urgency">5.5</p>
                    </div>
                    <div class="task">
                        <p class="task-name">ExampleText</p>
                        <div class="proj"><h6 class="proj-text">ProjHere</h6></div>
                        <p class="urgency">5.5</p>
                    </div>
                </div>
            </div>
        </div>


    </body>
</html>